/config.cache
/config.h
/config.log
/config.status
/makefile
/libloc.c
/svn.c
*.o
/makehelp
/ucblogo
/bin
/lib
/docs/ucblogo.info
/docs/usermanual.*
/docs/html
!/docs/usermanual.texi
/logolib
/helpfiles
